<?xml version="1.0" encoding="UTF-8"?>
<config>
	<listeners>
		<listener>
			<name>Listerner1</name>
			<port>14070</port>
			<command>c:/temp/echo.bat</command>
		</listener>
		<listener>
			<name>Listerner2</name>
			<port>14071</port>
			<command>c:/temp/echo.bat</command>
		</listener>
	</listeners>
	<monitors>
		<monitor>
			<name>Monitor1</name>
			<refreshDelay>5000</refreshDelay>
			<timeout>5000</timeout>
			<address>192.168.1.1</address>
			<command>c:/temp/echo.bat</command>
		</monitor>
	</monitors>
</config>
